#shopping-cart {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
}

#shopping-cart #items {
    margin: auto;
}

#shopping-cart #items .info {
    text-align: center;
}

#shopping-cart #items .info .quantity .quantity-input {
    margin: auto;
    width: 70px;
}

#shopping-cart .summary {
    border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
}

.lead > a {
    text-decoration: none;
}

#shopping-cart .summary .summary-item:not(:last-of-type){
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    #shopping-cart #items .info {
        padding-top: 25px;
        text-align: left;
    }

    #shopping-cart #items .info .quantity {
        text-align: center;
    }

    #shopping-cart #items .info .quantity .quantity-input {
        padding: 4px 10px;
        text-align: center;
    }
}